<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<!-- Compiled and minified JavaScript -->
<script src="/geldvoorelkaar/js/materialize.min.js"></script>

<script>
    $( document ).ready(function(){
        $(".button-collapse").sideNav();
        $('.dropdown-button').dropdown({
                    hover: true, // Activate on hover
                    constrain_width: false, // Does not change width of dropdown to that of the activator
                    gutter: 10, // Spacing from edge
                    belowOrigin: false // Displays dropdown below the button
                }
        );
    })
</script>