<footer class="page-footer">
    <div class="footer-copyright">
        <div class="container">
            <span>&copy; 2015 Copyright IJsbrand van Prattenburg</span>
            <a class="grey-text text-lighten-4 right" href="https://plus.google.com/u/0/+ijsbrandvanprattenburg/posts/p/pub">Google+</a>
            <a class="grey-text text-lighten-4 right" href="https://plus.google.com/u/0/+ijsbrandvanprattenburg/posts/p/pub">GitHub+</a>
            <a class="grey-text text-lighten-4 right" href="https://plus.google.com/u/0/+ijsbrandvanprattenburg/posts/p/pub">LinkedIn</a>
        </div>
    </div>
</footer>