<div class="navbar-fixed">
    <nav class="blue">
        <div class="nav-wrapper">
            <a href="/geldvoorelkaar/" class="brand-logo center">{{ title }} </a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/geldvoorelkaar/app/template/projects.html">Projecten</a></li>
                <li><a href="/geldvoorelkaar/app/template/settings.php">Instellingen</a></li>
            </ul>
            <ul class="side-nav" id="mobile-demo">
                <li><a href="/geldvoorelkaar"><i class="mdi-action-account-balance left"></i>Dashboard</a></li>
                <li><a href="components.html"><i class="mdi-action-assignment left"></i>Projecten</a></li>
                <div class="divider "></div>
                <li><a href="/geldvoorelkaar/app/template/settings.php"><i class="mdi-action-settings left"></i>Instellingen</a></li>
            </ul>
        </div>
    </nav>
</div>