<!DOCTYPE html>
  <html>
    {% include '_header.twig'  %}
    <body>
        <header>
            <div id="top-nav">{% include '_topbar.twig' with {'title' : 'Dashboard'}   %}</div>
        </header>
        <main class="grey lighten-3">
                <div class="row ">
                    <div class="col s12 m6 l3">
                        {% include 'partial/_projectQty.twig' %}
                    </div>
                    <div class="col s12 m6 l3">
                        {% include 'partial/_balance.twig' %}
                    </div>
                </div>
            {%  include '_body_end.html' %}
        </main>
        {% include '_footer.twig' %}
    </body>
</html>