<!DOCTYPE html>
  <html>
    {% include 'app/template/_header.twig' %}
    <body>
        <header>
            <div id="top-nav">{% include 'app/template/_topbar.twig' %}</div>
        </header>
        <main>
            <div class="row">
                {% include 'app/template/_project_view.twig' %}
            </div>
        </main>
        {% include 'app/template/_footer.twig' %}
    </body>
</html>