<div class="card white">
    <div class="card-content white-text center">
        <span class="card-title black-text">Balans</span>
        <h1 class="red-text">- &euro;3700</h1>
    </div>
    <div class="card-action center">
        <strong><a href="#">Alle projecten</a></strong>
    </div>
</div>