<ul class="collection projects-list">
    {% for project in projects %}
        <a href="/geldvoorelkaar/app/template/project.php" class="collection-item">
            <span class="title" >{{ project.name }}</span><br/>
            <span class="sub-title grey-text" >{{ project.start_date|localizeddate('medium', 'none', locale,"Europe/Berlin","d LLL, Y") }}</span>
        </a>
    {% endfor %}
</ul>

<ul class="collection projects-list">
    <a href="/geldvoorelkaar/app/template/project.php" class="collection-item">
        <span class="title" >Bakkerswinkel</span><br/>
        <span class="sub-title grey-text" >01 Jan, 2013</span>
    </a>
    <a href="/geldvoorelkaar/app/template/project.php" class="collection-item">
        <span class="title" >Shark Energy B.V.</span><br/>
        <span class="sub-title grey-text" >21 Mrt, 2013</span>
    </a>
    <a href="/geldvoorelkaar/app/template/project.php" class="collection-item">
        <span class="title" >Shipper Co.</span><br/>
        <span class="sub-title grey-text" >14 Jun, 2013</span>
    </a>
    <a href="/geldvoorelkaar/app/template/project.php" class="collection-item">
        <span class="title" >Zonnestudio Bruin de Beer</span><br/>
        <span class="sub-title grey-text" >24 Nov, 2014</span>
    </a>
    <a href="/geldvoorelkaar/app/template/project.php" class="collection-item">
        <span class="title" >Aanbouw hotel</span><br/>
        <span class="sub-title grey-text" >10 Jan, 2015</span>
    </a>
</ul>