<div class="card white">
    <div class="card-content white-text center">
        <span class="card-title black-text">Aantal projecten</span>
        <h1 class="black-text">5</h1>
    </div>
    <div class="card-action center">
        <strong><a href="#" class="">Alle projecten</a></strong>
    </div>
</div>