<ul class="collection with-header">
    <li class="collection-item"><div>Project 1<a href="#!" class="secondary-content"><i class="mdi-content-send"></i></a></div></li>
    <li class="collection-item"><div>Project 2<a href="#!" class="secondary-content"><i class="mdi-content-send"></i></a></div></li>
    <li class="collection-item"><div>Project 3<a href="#!" class="secondary-content"><i class="mdi-content-send"></i></a></div></li>
    <li class="collection-item" onclick="window.open('project.php','_self');" style="cursor:pointer;"><div>Project 4<a href="project.php" class="secondary-content"><i class="mdi-content-send"></i></a></div></li>
</ul>
<script>
    function openProject(){

    }
</script>